<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB0aZK0wqhqS6Zi2oMfzK4meTs0e3UZblI</string>
	<key>GCM_SENDER_ID</key>
	<string>18142519291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tenya.MusicSync</string>
	<key>PROJECT_ID</key>
	<string>musicsync-d80b8</string>
	<key>STORAGE_BUCKET</key>
	<string>musicsync-d80b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:18142519291:ios:381512d0be229b2e2bb55e</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-5449942175714797~3077284936</string>
</dict>
</plist>